<div  class="panel panel-primary">
    <div  class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body main">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>User id</th>
            <th>User name</th>
            <th>Usr Age</th>
            <th>Usr Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of user | async">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
            <td><button (click)="deleteUser(emp.id)" >Delete</button>
                <button (click)="toggle()" style="margin-left: 10px">Update</button>
                <form  *ngIf="showForm" novalidate #loginform='ngForm' (ngSubmit)="editUser(loginform.value) ">
                    <input type="hidden" name="id" [(ngModel)]="emp.id">
                    <div>
                        <label for="Name"> Name</label>
                        <input type="text" [(ngModel)]=" emp.name" name="name" required>
                    </div>
                    <div>
                      <label for="Age">Age</label>
                        <input type="number" [(ngModel)]="emp.age" name="age">
                    </div>
                    <div>
                      <label for="Salary">Salary</label>
                        <input type="number" [(ngModel)]="emp.salary" name="salary">
                    </div>
                    <button  (click)="toggle()" type="submit">Submit</button>
                    </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>